{
  "useTabs": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "semi": false,
  "jsxBracketSameLine": true,
  "htmlWhitespaceSensitivity": "css",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}