/*
============================================================================= */
/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Geologica:slnt,wght,CRSV,SHRP@-12..0,100..900,0..1,0..100&family=Orbitron:wght@400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;
/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;
/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

/*
============================================================================= */

@layer base {
	/* add base styles here */

	/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
// <slant>: Use a value from -12 to 0
// <cursive>: Use a value from 0 to 1
// <sharpness>: Use a value from 0 to 100 */

	.geologica-ts {
		font-family: 'Geologica', sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
		font-variation-settings:
			'slnt' <slant>,
			'CRSV' <cursive>,
			'SHRP' <sharpness>;
		font-weight: <weight>;
	}

	/* // <uniquifier>: Use a unique and descriptive class name */
	/* // <weight>: Use a value from 400 to 900 */

	.orbitron-ts {
		font-family: 'Orbitron', sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
		font-weight: <weight>;
	}

	/* // <uniquifier>: Use a unique and descriptive class name */
	/* // <weight>: Use a value from 200 to 800 */

	.plus-jakarta-sans-ts {
		font-family: 'Plus Jakarta Sans', sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
		font-weight: <weight>;
	}

	section {
		h2 {
			@apply drop-shadow-glow inline-block text-3xl font-extrabold uppercase leading-none text-surface-3 max_m_xl:text-3xl;
			small {
				@apply tracking-widest text-surface-4;
				font-size: 0.6em;
			}
		}
		p {
			@apply mt-4;
			&:first-of-type {
				@apply mt-2;
			}
		}
	}

	body {
		/* … */
		@apply bg-surface-1 dark:bg-surface-6;
	}
}

@layer components {
	/* add component styles here */
	/*	section inner
	============================================================================= */
	.section-inner {
		@apply flex h-full w-full items-stretch justify-between gap-4 px-10 max_m_xl:mt-4 max_m_xl:flex-col;
		/* > div {
			@apply flex-1;
		} */
	}

	/*	buttons
	============================================================================= */
	.btn {
		@apply rounded-full border-2 border-surface-6 bg-surface-1/5 px-6 py-2 font-semibold text-surface-2;
	}

	.btn-primary {
		@apply bg-surface-6 text-surface-1/90;
	}

	/* retro button */
	.rt-btn {
		@apply relative inline-block rounded-3xl bg-gradient-to-b from-ts-orange-coral-500 via-ts-coffee-roman-800 via-20% to-ts-green-mineral-800 p-1;
		span {
			@apply block rounded-3xl bg-surface-6 px-6 py-2 text-center font-semibold uppercase;
		}
		/* &.rt-btn-blue-zodiac span {
			@apply bg-rt-blue-zodiac-900 text-rt-blue-zodiac-200;
		}
		&.rt-btn-yellow-sandwisp span {
			@apply block rounded-full bg-rt-yellow-sandwisp-900 px-3 py-2 text-center font-semibold uppercase text-rt-yellow-sandwisp-200;
		}
		&.rt-btn-blue-calypso {
			@apply from-rt-blue-calypso-500 via-rt-green-apple-600 to-rt-purple-jagger-700;
		}
		&.rt-btn-blue-calypso span {
			@apply bg-rt-blue-calypso-800 text-rt-blue-calypso-200;
		}
		&.rt-btn-pink-cerise {
			@apply from-rt-pink-cerise-500 via-rt-green-apple-600 to-rt-purple-jagger-700;
		}
		&.rt-btn-pink-cerise span {
			@apply bg-rt-blue-calypso-800 text-rt-blue-calypso-200;
		}
		&.rt-btn-purple-jagger span {
			@apply bg-rt-purple-jagger-900 text-rt-purple-jagger-200;
		} */
	}
}

@layer utilities {
	/* add utility styles here */
}

/**
* The screen function allows you to create media queries that reference
* your breakpoints by name instead of duplicating their values in your own CSS.
*/

@media screen(sm) {
	/* small */
	body {
		/* … */
	}
}
